<a class="nav_button" href="<%= album_url(@track.album) %>">Go To Album</a>

<h1><%= @track.title %></h1>

<% if !flash[:errors].nil? %>
	<ul>
		<% flash[:errors].each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<% if !@track.video_id.nil? %>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/<%= @track.video_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	<br>
<% else %>
	<%= button_to "Fetch Video", track_find_video_id_url(@track), method: :patch %>
<% end %>

<br>

<% if !(@track.lyrics.nil? || @track.lyrics.empty?)%>
	<h2>Lyrics</h2>
	<p>
		<%= format_lyrics @track.lyrics %>
	</p>
<% else %>
	<%= button_to "Fetch Lyrics", track_find_lyrics_url(@track), method: :patch %>
<% end %>

<br>
<br>

<div class="album_nav">
	<a class="nav_button" href="<%= edit_track_url(@track)%>">Edit Track</a>
	<%= button_to "Delete Track", track_url(@track), method: :delete %>
</div>

<br>
<br>
<br>
<br>