<a class="nav_button" href="<%= artists_url %>">Go To Artists</a>

<h1><%= @artist.name %></h1>

<ul class="link_list">
	<% @artist.albums.each do |album| %>
		<li>
			<a class="link" href="<%= album_url(album) %>"><%= album.title %></a>
			<a class="nav_button edit_button" href="<%= edit_album_url(album) %>">Edit</a>
		</li>
	<% end %>
</ul>
<br>

<%= button_to "Populate Albums", artist_populate_albums_url(@artist), method: :post %>

<div class="album_nav">
	<a class="nav_button" href="<%= new_artist_album_url(@artist) %>">New Album</a>	
	<%= button_to "Delete Artist", artist_url(@artist), method: :delete %>
</div>
<br>