<% action = album.persisted? ? album_url(album) : albums_url %>

<%= render 'shared/errors' %>

<form action="<%= action %>" method="POST">
	<%= auth_token %>

	<% if album.persisted? %>
		<input type="hidden" name="_method" value="patch">
	<% end %>

	<label for="album_title">Title</label>
	<input id="album_title" type="text" name="album[title]" value="<%= album.title %>">

	<label for="album_year">Year</label>
	<input id="album_year" type="text" name="album[year]" value="<%= album.year %>">

	<label for="album_artist">Artist</label>
	<select id="album_artist" name="album[artist_id]">
		<% Artist.all.each do |artist| %>
			<option value="<%= artist.id %>" <%= artist == album.artist ? "selected" : "" %>>
				<%= artist.name %>
			</option>
		<% end %>
	</select>

	<input type="submit">
</form>