<a class="nav_button" href="<%= artist_url(@album.artist) %>">Go To Artist</a>

<h1><%= @album.title %></h1>
<h3><%= @album.artist.name %></h3>
<h3><%= @album.year %></h3>
<br>

<% if !flash[:errors].nil? %>
	<ul>
		<% flash[:errors].each do |error| %>
			<li><%= error %></li>
		<% end %>
	</ul>
<% end %>

<% if !@album.youtube_playlist_id.nil? %>
	<iframe width="560" height="315" src="https://www.youtube.com/embed/videoseries?list=<%= @album.youtube_playlist_id %>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<% else %>
	<%= button_to "Fetch Playlist", album_find_youtube_playlist_id_url(@album), method: :patch %>
<% end %>
<br>
<br>

<h2>Tracks</h2>
<br>

<ol class="link_list">
	<% @album.tracks.order(:id).each do |track| %>
		<li>
			<a class="link" href="<%= track_url(track) %>"><%= track.title %></a>
			<a class="nav_button edit_button" href="<%= edit_track_url(track) %>">Edit</a>
		</li>
	<% end %>
</ol>

<%= button_to "Populate Tracks", album_populate_tracks_from_spotify_api_url(@album), method: :post %>
<br>
<br>

<nav class="album_nav">
	<a class="nav_button" href="<%= edit_album_url(@album) %>">Edit Album</a>
	<br>
	<br>
	
	<a class="nav_button" href="<%= new_album_track_url(@album) %>">New Track</a>
	<%= button_to "Delete Album", album_url(@album), method: :delete %>
</nav>
<br>