<% action = band.persisted? ? band_url(band) : bands_url %>
<% heading = band.persisted? ? "Edit Band" : "New Band" %>

<h1><%= heading %></h1>

<%= render 'shared/errors' %>

<form action="<%= action %>" method="POST">
	<% if band.persisted? %>
		<input type="hidden" name="_method" value="patch">
	<% end %>

	<%= auth_token %>

	<label for="user_name">Name</label>
	<input id="user_name" type="text" name="band[name]" value="<%= band.name %>">

	<input type="submit">
</form>